<header>
  <div class="logo-container">
    <img src="/assets/images/svg/logo.svg" />
  </div>
  <div class="text-container">
    <div class="heading">
      <h1>REOPENING <br />SMART FIT</h1>
      <span class="heading-border"></span>
    </div>
    <p>
      The opening hours of our units follow the decrees of each municipality
      without exception. Therefore, check here if your unit is open and the
      security measures that we are following now and start training with us
      soon.
    </p>
  </div>
</header>
