<div class="caption">
  <div class="caption-item">
    <h4>Mask</h4>
    <div class="caption-images">
      <div class="caption-image">
        <img src="/assets/images/png/required-mask.png" />
        <p>Required</p>
      </div>
      <div class="caption-image">
        <img src="/assets/images/png/recommended-mask.png" />
        <p>Recommended</p>
      </div>
    </div>
  </div>
  <div class="caption-item">
    <h4>Towel</h4>
    <div class="caption-images">
      <div class="caption-image">
        <img src="/assets/images/png/required-towel.png" />
        <p>Required</p>
      </div>
      <div class="caption-image">
        <img src="/assets/images/png/recommended-towel.png" />
        <p>Recommended</p>
      </div>
    </div>
  </div>
  <div class="caption-item">
    <h4>Water Fountain</h4>
    <div class="caption-images">
      <div class="caption-image">
        <img src="/assets/images/png/partial-fountain.png" />
        <p>Partial</p>
      </div>
      <div class="caption-image">
        <img src="/assets/images/png/not_allowed-fountain.png" />
        <p>Not Allowed</p>
      </div>
    </div>
  </div>
  <div class="caption-item">
    <h4>Changing Rooms</h4>
    <div class="caption-images">
      <div class="caption-image">
        <img src="/assets/images/png/allowed-lockerroom.png" />
        <p>Allowed</p>
      </div>
      <div class="caption-image">
        <img src="/assets/images/png/partial-lockerroom.png" />
        <p>Partial</p>
      </div>
      <div class="caption-image">
        <img src="/assets/images/png/closed-lockerroom.png" />
        <p>Closed</p>
      </div>
    </div>
  </div>
</div>
