<form action="" class="form-group" [formGroup]="formGroup">
  <div class="form-icon">
    <img src="/assets/images/png/icon-hour.png" alt="icon-hour" />
    Time
  </div>
  <h3>At what time do you want to train?</h3>
  <div class="radio-wrapper">
    <input type="radio" name="hour" value="morning" formControlName="hour" />
    <label for="morning">Morning</label>
    <span>06:00 to 12:00</span>
  </div>
  <div class="radio-wrapper">
    <input type="radio" name="hour" value="afternoon" formControlName="hour" />
    <label for="afternoon">Afternoon</label>
    <span>12:01 to 18:00</span>
  </div>
  <div class="radio-wrapper">
    <input type="radio" name="hour" value="night" formControlName="hour" />
    <label for="night">Night</label>
    <span>18:01 to 23:00</span>
  </div>

  <div class="checkbox-wrapper">
    <div class="checkbox">
      <input type="checkbox" name="showClosed" formControlName="showClosed" />
      <label for="showClosed">Exhibit closed units</label>
    </div>
    <span>Results found: {{ filteredResults.length }}</span>
  </div>

  <div class="btn-wrapper">
    <button class="btn btn-primary" (click)="onSubmit()">Find unit</button>
    <button class="btn btn-secondary" (click)="onClean()">Clear</button>
  </div>
</form>
